body {   
    margin: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    background-color: #FFFFFF;
    overflow: hidden;
    font-family: Arial, sans-serif;
}


/* 3d */
canvas {
    width: 80%;
    height: 80%;
    display: block;
}

/* Botões */
#container {
    width: 100%;
    height: 80vh;
}

.controls {
    display: flex;
    justify-content: center;
    margin: 10px 0;
    flex-wrap: wrap; 
}

.control-button {
    background-color: #a43943;
    border: none;
    color: white;
    padding: 10px;
    margin: 5px;
    border-radius: 5px;
    font-size: 18px;
    cursor: pointer;
    flex: 1 1 45px; 
}

.control-button i {
    font-size: 24px;
}

/* Botão de cor */
#showColorPickerButton {
    width: 470px; 
    padding: 8px; 
    margin: 10px 0;
    background-color: #a43943; 
    border: none; 
    border-radius: 5px; 
    font-size: 18px; 
}

#colorSpectrum {
    width: 300px; 
    height: 50px; 
    background: linear-gradient(to right, 
        #FF0000, #FF7F00, #FFFF00, #7FFF00, #00FF00, 
        #00FF7F, #00FFFF, #007FFF, #0000FF, #7F00FF, 
        #FF00FF, #FF007F
    );
    cursor: pointer;
    border: 2px solid #a43943; 
}

#loading {
    text-align: center;
    font-size: 18px;
    margin-top: 20px;
}

/* Responsividade para mobile*/
@media (max-width: 768px) {
    /*body {
        overflow: scroll;
    }*/
    .controls {
        flex-direction: row; 
        justify-content: space-around; 
        margin-top: 5px;
    }

    .control-button {
        padding: 8px;
        font-size: 16px;
        flex: 1 1 30px; 
    }

    #colorSpectrum {
        width: 250px; 
        height: 50px; 
        background: linear-gradient(to right, 
            #FF0000, #FF7F00, #FFFF00, #7FFF00, #00FF00, 
            #00FF7F, #00FFFF, #007FFF, #0000FF, #7F00FF, 
            #FF00FF, #FF007F
        );
        cursor: pointer;
        border: 2px solid #a43943; 
    }
    #showColorPickerButton {
        width: 380px;
    }

}

/* Responsividade para tablets */
@media (min-width: 769px) and (max-width: 1024px) {
    .controls {
        flex-direction: row; 
        justify-content: space-around; 
    }

    .control-button {
        padding: 12px; 
        font-size: 20px; 
        flex: 1 1 60px; 
    }

    #showColorPickerButton {
        width: 480px; 
        padding: 10px; 
        margin-bottom: 70px;
    }
}